body {
  background-color: powderblue;
}

h1 {
  font-family: Noto Sans, Verdana, sans-serif;
}

h2 {
  font-family: Noto Sans, Verdana, sans-serif;
}

li {
  font-family: Noto Sans, Verdana, sans-serif;
}

p {
  font-family: Tahoma, Verdana, sans-serif;
}
